<div class="form-auth">
  <form class="mb-3">
    <div class="mb-3">
      <label class="form-label" for="username">Username</label>
      <input type="email" class="form-control" id="username" />
    </div>
    <div class="mb-4">
      <label class="form-label" for="password">Password</label>
      <input type="password" class="form-control" id="password" />
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
  <p class="text-center bg-body-secondary p-2">
    If you don't have an account you can create it by clicking
    <a
      class="button"
      routerLink="/signup"
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page"
    >
      signup
    </a>
    link
  </p>
</div>
