// /* You can add global styles to this file, and also import other style files */

main {
  padding: 30px;
}
.form-auth {
  max-width: 400px;
  margin: 50px auto;
}
.form-label {
  cursor: pointer;
}
